{
	"extends": "airbnb",
	"plugins": [ "jest" ],
	"env": {
		"jest/globals": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
		"no-tabs": 0,
		"linebreak-style": 0		
	}
}